<div class="container">
    <div class="row vh-100" id="details">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5 shadow">
                <div class="card-body">
                    <img class="img-fluid mx-auto d-block m-3" src="../assets/logo.svg" />
                    <h2 class="card-title text-left">Enter Details</h2>

                    <form #detailsForm="ngForm" (ngSubmit)="(detailsForm.form.valid)" class="detailsForm">
                        <div class="form-group">
                            <input type="text" name="firstName" placeholder="First Name" class="form-control" [(ngModel)]="newParticipant.firstName" #firstName="ngModel" [ngClass]="{'is-invalid': firstName.touched && firstName.invalid}" required/>

                            <div class="invalid-feedback" *ngIf="firstName.touched && firstName.invalid">
                                <p *ngIf="firstName.errors.required">First name is required</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="text" name="lastName" placeholder="Last Name" class="form-control" [(ngModel)]="newParticipant.lastName" #lastName="ngModel" [ngClass]="{
                  'is-invalid': lastName.touched && lastName.invalid
                }" required />

                            <div class="invalid-feedback" *ngIf="lastName.touched && lastName.invalid">
                                <p *ngIf="lastName.errors.required">Last name is required</p>
                            </div>
                        </div>
                        <div class="demographics" *ngIf="demoNeeded">
                            <div class="form-group">
                                <input type="number" name="age" placeholder="Age" min="10" class="form-control" [(ngModel)]="newParticipant.age" #age="ngModel" [ngClass]="{ 'is-invalid': age.touched && age.invalid }" required />

                                <div class="invalid-feedback" *ngIf="age.touched && age.invalid">
                                    <p *ngIf="age.errors.required">Age is required</p>
                                </div>
                            </div>

                            <div class="form-group d-flex justify-content-center">
                                <!-- <select class="form-control" id="power" (ngModelChange)="getSelectedValue($event)" #gender="ngModel" [ngModel]="selectedValue" [ngModelOptions]="{ standalone: true }" [ngClass]="{ 'is-invalid': gender.touched && gender.value == '1'}" required>
                                    <option *ngFor="let option of options" [value]="option.value">
                                    {{ option.label }}
                                    </option>
                                </select> -->
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="gender" value="Female" [(ngModel)]="newParticipant.gender" [checked]="true" required>
                                    <label class="form-check-label" for="gender">
                                        Female
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="gender" value="Male" [(ngModel)]="newParticipant.gender" [checked]="true" required>
                                    <label class="form-check-label" for="gender">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="exampleRadios" id="gender" value="Other" [(ngModel)]="newParticipant.gender" [checked]="true" required>
                                    <label class="form-check-label" for="gender">
                                        Other
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button (click)="getQuizDetails(getURLQuizID())" class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!detailsForm.form.valid">
              Continue
            </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="quiz" id="quiz">
        <div class="card card-signin my-5 shadow">
            <img class="img-fluid mx-auto d-block m-5" src="../assets/logo.svg" />

            <div class="" id="quizDetails" *ngFor="let quiz of detailsResponse">
                <h1 class="text-center mt-3 font-weight-bold">{{ quiz.Title }}</h1>
                <p class="text-center">{{ quiz.Description }}</p>

                <form [formGroup]="quizForm" (ngSubmit)="checkForAnswer();" id="formQA">
                    <div class="form-check text-center question_{{ i }}" id="question" *ngFor="let item of detailsResponse[0].Content; let i = index" [attr.data-index]="i">
                        <h4>{{ item.question }}</h4>

                


                        <div class="answerDiv" *ngFor="let option of item.options; let j = index" [attr.data-index]="j">

                            <div class="row">

                                <div class="col text-right">

                            <input *ngIf="item.type == 'Multi-choice'" class="form-check-input option_{{ j }}" type="checkbox" id="option" value="{{ option.value }}" />
                            <input *ngIf="item.type == 'Single-choice'" name="radio_{{ i }} " class="form-check-input option_{{ j }}" type="radio" id="option" value="{{ option.value }}" /> 
                            
                            
                                </div> <div class="col text-left">
                                
                                    {{ option.value }}

                                </div>

                                </div>
                            
                           
                        </div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                </form>
            </div>
        </div>

    </div>

    <div class="" id="report">
        <div class="card card-signin my-5 shadow">
            <img class="img-fluid mx-auto d-block m-5" src="../assets/logo.svg" />

            <div class="" id="reportDetails" *ngFor="let item of detailsResponse">
                <h1 class="text-center mt-3 font-weight-bold">{{ item.Title }}</h1>
                <p class="text-center">{{ item.Description }}</p>
                <br />

                <div class="results" *ngFor="let item2 of pxtQuizResponse">
                    <h3 class="text-center">Your score:</h3>
                    <h1 class="text-center text-dark">{{ item2.score }}%</h1>
                    <br />
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 50%" class="text-center" scope="col">
                                    Question
                                </th>
                                <th style="width: 50%" class="text-center" scope="col">
                                    Correct
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let questionResponse of item2.attemptData">
                                <td class="text-center">{{ questionResponse.question }}</td>
                                <td class="text-center text-capitalize">
                                    {{ questionResponse.isCorrect }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p class="text-center text-dark m-5">
                Thank you for completing this quiz. Have a nice day!
            </p>
        </div>
    </div>
</div>