<app-header>
</app-header>

<div class="container-fluid mt-4">
    <div class="row">

        <div class="col-xl-6 col-lg-6 ">
            <div class="card shadow mb-4" style="height: 400px;">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between ">
                    <h6 class="m-0 font-weight-bold text-primary ">Active</h6>
                    <div class="dropdown no-arrow ">
                        <a class="dropdown-toggle " href="# " role="button " id="dropdownMenuLink " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                            <i class="fa fa-ellipsis-v fa-sm fa-fw text-gray-400 "></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in " aria-labelledby="dropdownMenuLink ">
                            <div class="dropdown-header ">Dropdown Header:</div>
                            <a class="dropdown-item " href="# ">Action</a>
                            <a class="dropdown-item " href="# ">Another action</a>
                            <div class="dropdown-divider "></div>
                            <a class="dropdown-item " href="# ">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body scroll " style="height: 400px;">
                    <h4>Quiz Title</h4>
                    <div class="row mx-auto">
                        <div class="col col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Completed</h5>
                                    <h1>100%</h1>
                                    <a href="#" class="btn btn-primary">Link</a>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Not Started</h5>
                                    <h1>100%</h1>
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Not Complete</h5>
                                    <h1>100%</h1>
                                    <a href="#" class="btn btn-primary">End</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row mx-auto">
                        <div class="col col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Completed</h5>
                                    <h1>100%</h1>
                                    <a href="#" class="btn btn-primary">Link</a>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Not Started</h5>
                                    <h1>100%</h1>
                                    <a href="#" class="btn btn-primary">View</a>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">Not Complete</h5>
                                    <h1>100%</h1>
                                    <a href="#" class="btn btn-primary">End</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Complerte 333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333333-->
        <div class="col-xl-6 col-lg-6 ">
            <div class="card shadow mb-4" style="height: 400px;">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between ">
                    <h6 class="m-0 font-weight-bold text-primary ">Complete</h6>
                    <div class="dropdown no-arrow ">
                        <a class="dropdown-toggle " href="# " role="button " id="dropdownMenuLink " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                            <i class="fa fa-ellipsis-v fa-sm fa-fw text-gray-400 "></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in " aria-labelledby="dropdownMenuLink ">
                            <div class="dropdown-header ">Dropdown Header:</div>
                            <a class="dropdown-item " href="# ">Action</a>
                            <a class="dropdown-item " href="# ">Another action</a>
                            <div class="dropdown-divider "></div>
                            <a class="dropdown-item " href="# ">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body scroll " style="height: 400px;">
                    <h4>Quiz Title</h4>
                    <div class="row mx-auto pb-3 border">

                        <div class="col col-lg-4 ">
                            <div class="card-body">
                                <h5 class="card-title">Not Complete</h5>
                                <h1>100%</h1>
                            </div>

                        </div>
                        <div class="col col-lg-4 ">
                            <div class="card-body">
                                <h5 class="card-title">Not Complete</h5>
                                <h1>100%</h1>

                            </div>

                        </div>
                        <div class="col col-lg-4 ">
                            <div class="card-body">
                                <h5 class="card-title">Not Complete</h5>
                                <h1>100%</h1>

                            </div>

                        </div>
                        <div class="row mx-auto"><a href="#" class="btn btn-primary">View</a></div>
                    </div>
                    <hr>
                    <div class="row mx-auto pb-3 border">

                        <div class="col col-lg-4 ">
                            <div class="card-body">
                                <h5 class="card-title">Not Complete</h5>
                                <h1>100%</h1>
                            </div>

                        </div>
                        <div class="col col-lg-4 ">
                            <div class="card-body">
                                <h5 class="card-title">Not Complete</h5>
                                <h1>100%</h1>

                            </div>

                        </div>
                        <div class="col col-lg-4 ">
                            <div class="card-body">
                                <h5 class="card-title">Not Complete</h5>
                                <h1>100%</h1>

                            </div>

                        </div>
                        <div class="row mx-auto"><a href="#" class="btn btn-primary">View</a></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 ">
            <div class="card shadow mb-4 ">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between ">
                    <h6 class="m-0 font-weight-bold text-primary ">Saved</h6>
                    <div class="dropdown no-arrow ">
                        <a class="dropdown-toggle " href="# " role="button " id="dropdownMenuLink " data-toggle="dropdown " aria-haspopup="true " aria-expanded="false ">
                            <i class="fa fa-ellipsis-v fa-sm fa-fw text-gray-400 "></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in " aria-labelledby="dropdownMenuLink ">
                            <div class="dropdown-header ">Dropdown Header:</div>
                            <a class="dropdown-item " href="# ">Action</a>
                            <a class="dropdown-item " href="# ">Another action</a>
                            <div class="dropdown-divider "></div>
                            <a class="dropdown-item " href="# ">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body scroll">
                    <div class="alert" style="background-color: #f8f8f8;" role="alert">
                        <div class="form-inline">
                            <div class="col-8">
                                <h4>Quiz Titlle</h4>

                            </div>
                            <div class="col-4">


                                <button class="btn btn-primary btn-block"><span class="text">Continue</span></button>


                                <button class="btn btn-primary btn-block"> <span class="text">Publish</span></button>




                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>