<app-header>
</app-header>
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-12 ">
            <div class="card shadow mb-4 ">
                <img src="" alt="">
                <div class="card-body">
                    <div class="">
                        <h1 class="text-center mt-5">{{quizDetails.Title}}</h1>
                        <h3 class="text-center mt-5">{{quizDetails.Description}}</h3>
                        <div>

                          <div *ngIf="quizDetails.IsDemographicSelected == false">

                            <div *ngIf="drpValue == 'dashboard'">
                                <select class="custom-select" (change)="loadQuizComponent($event.target.value)">
                              <option selected>--</option>
                              <option value="/{{quizID}}/leaderboard">Leaderboard</option>
                              <option value="/{{quizID}}/report">Reports</option>
                            </select>
                            </div>

                            <div *ngIf="drpValue == 'leaderboard'">
                                <select class="custom-select" (change)="loadQuizComponent($event.target.value)">
                              <option selected value="/{{quizID}}/leaderboard">Leaderboard</option>
                              <option value="/{{quizID}}/report">Reports</option>
                            </select>
                            </div>

                            <div *ngIf="drpValue == 'report'">
                                <select class="custom-select" (change)="loadQuizComponent($event.target.value)">
                              <option value="/{{quizID}}/leaderboard">Leaderboard</option>
                              <option selected value="/{{quizID}}/report">Reports</option>
                            </select>
                            </div>

                        </div>

                        <div *ngIf="quizDetails.IsDemographicSelected == true">

                            <div *ngIf="drpValue == 'dashboard'">
                                <select class="custom-select" (change)="loadQuizComponent($event.target.value)">
                              <option selected>--</option>
                              <option value="/{{quizID}}/leaderboard">Leaderboard</option>
                            </select>
                            </div>

                            <div *ngIf="drpValue == 'leaderboard'">
                                <select class="custom-select" (change)="loadQuizComponent($event.target.value)">
                              <option selected value="/{{quizID}}/leaderboard">Leaderboard</option>
                            </select>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>