<app-header></app-header>
<div ng-controller="checkController" class="container">
    <div class="row">
        <h1>Update Quiz {{quizid}}</h1>
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <div class="card card-signin my-5 shadow">
                <div class="card-body qdesc" id="qinfo">
                    <img class="img-fluid mx-auto d-block" src="../assets/logo.svg">
                    <h4 class="card-title text-center mt-3">Quiz Title </h4>
                    <p class="text-muted"> </p>
                    <form #CreateQuiz1="ngForm" #f="ngForm">
                        <div class="form-group">
                            <input (keyup)="getValue()" name="title" type="text" placeholder="Name" class="form-control" required>
                            <div class="invalid-feedback">
                                <p>Quiz Name is required</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <h4 class="card-title text-center mt-3">Quiz Description </h4>
                            <textarea (keyup)="getValue()" name="description" placeholder="Description" rows="3" class="form-control" required></textarea>
                            <div class="invalid-feedback">
                                <p>Description is required</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
                            <button class="btn btn-lg btn-primary text-uppercase btn-block" (click)="addQuiz()">Add Quiz
                            </button> {{allQueData|json}}
                        </div>
                    </form>
                </div>
            </div>