<app-header></app-header>
<div ng-controller="checkController" class="container">
    <div class="row">
        <h1>Update Quiz {{quizid}}</h1>
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <div class="card card-signin my-5 shadow">
                <div class="card-body qdesc" id="qinfo">
                    <img class="img-fluid mx-auto d-block" src="../assets/logo.svg">
                    <h4 class="card-title text-center mt-3">Quiz Title </h4>
                    <p class="text-muted"> </p>
                    <form #CreateQuiz1="ngForm" #f="ngForm">
                        <div class="form-group">
                            <input (keyup)="getValue()" name="title" type="text" placeholder="Name" class="form-control" required>
                            <div class="invalid-feedback">
                                <p>Quiz Name is required</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <h4 class="card-title text-center mt-3">Quiz Description </h4>
                            <textarea (keyup)="getValue()" name="description" placeholder="Description" rows="3" class="form-control" required></textarea>
                            <div class="invalid-feedback">
                                <p>Description is required</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
                            <button class="btn btn-lg btn-primary text-uppercase btn-block" (click)="addQuiz()">Add Quiz
                            </button> {{allQueData|json}}
                        </div>
                    </form>
                </div>
            </div>


            <div *ngFor="let item of allQueData.Content">
                <div class="card card-signin my-5 shadow">
                    <div class="card-body qdesc">
                        <form>
                            <div class="card-body q1">
                                <img class="img-fluid mx-auto d-block" src="../assets/logo.svg">
                                <h4 class="card-title text-center mt-3">Question </h4>
                                <div class="form-group">
                                    <input (keyup)="getValue()" [(ngModel)]="item.question" name="quetion" type="text" placeholder="Question" class="form-control">
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="text-center">
                                        <div class="form-check form-check-inline">
                                            <input [(ngModel)]="type" class="form-check-input" type="radio" name="type" id="qtype" value="Multi-choice">
                                            <label class="form-check-label" for="inlineRadio2">Multiple</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input [(ngModel)]="type" cclass="form-check-input" type="radio" name="type" id="qtype" value="Likert">
                                            <label class="form-check-label" for="inlineRadio3">Likert Scale</label>
                                        </div>
                                    </div>
                                </div>
                                <div id="Multiple" style="display: none;">
                                    <div class="form-row">
                                        <div class="col-8">
                                            <h4 class="card-title mt-3">Answer</h4>
                                        </div>
                                        <div class="col">
                                            <h4 class="card-title mt-3">Correct</h4>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-8">
                                            <input type="text" class="form-control" placeholder="Answer">
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-8">
                                            <input type="text" class="form-control" placeholder="Answer">
                                        </div>
                                        <div class="col">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-8">
                                        <h4 class="card-title mt-3">Answer</h4>
                                    </div>
                                    <div class="col">
                                        <h4 class="card-title mt-3">Correct</h4>
                                    </div>
                                </div>
                                <form #formRef="ngForm">
                                    <app-one-option *ngFor="let oneOption of options; let i=index" [i]="i" (countChanged)="countChangedHandler($event)"></app-one-option>


                                    <div class="d-flex justify-content-center mt-3">
                                        <button (click)="addOption()" class="plusbtn"><i class="fa fa-plus text-lg-center text-primary plusfont"></i></button>
                                    </div>

                                </form>
                                <br />
                                <br />
                                <div class="d-flex justify-content-center mt-3">
                                    <button *ngIf="i != 0" (click)="removeQuetionInput(i)" class="btn btn-danger btn-block col-3">Remove Question</button>
                                    <!-- <button *ngIf="queArr.length > 1" (click)="removeQuetionInput(oneQuetion.indexNumber)" class="plusbtn"><i class="fa fa-minus text-lg-center text-primary plusfont"></i> </button>                                    -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center mt-3">
                <button class="btn btn-primary btn-block">Add Question</button  >
            </div>

            <div class="card card-signin my-5 shadow">
                <div class="card-body qdesc">

                    <h4 class="card-title text-center mt-3">Questions</h4>

                    <table class="table table-bordered" style=" border: 1px solid #f36f2d;">
                        <thead class="bg-primary text-light">
                            <tr>
                                <th scope="col">Question</th>
                                <th scope="col ">Type</th>
                                <th scope="col ">Edit</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of allData.content">

                                <td>{{item.question}}</td>
                                <td>{{item.type}}</td>
                                <td>
                                    <a class="btn btn-primary btn-block" href="NewQuiz/#Quection 1">Edit</a></td>
                            </tr>

                        </tbody>
                    </table>

                
             
                    <div class="row mt-4">
                        <div class="col-sm-6 col-md-6 col-lg-6 ">
                            <button class="btn btn-block btn-primary" (click)="SaveQuestion()">Save </button>
                <!-- <button class="btn btn-block btn-primary" (click)="test()">empty test </button> -->
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">


                <button class="btn btn-block btn-primary" (click)="PublishQuiz()">Publish </button>
            </div>

        </div>


    </div>



</div>