<app-header>
</app-header>
<div ng-controller="checkController" class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <form [formGroup]="quizForm">
                <div class="card card-signin my-5 shadow">
                    <div class="card-body qdesc" id="qinfo">
                        <img class="img-fluid mx-auto d-block" src="../assets/logo.svg">
                        <h4 class="card-title text-center mt-3">Quiz Title </h4>



                        <div class="form-group" [ngClass]="{'has-error': quizForm.get('title').errors}">

                            <input type="text" formControlName="title" placeholder="Quiz Title" class="form-control">

                        </div>

                        <div class="form-group">
                            <h4 class="card-title text-center mt-3">Quiz Description </h4>
                            <textarea formControlName="description" placeholder="Description" rows="3" class="form-control">
                            </textarea>

                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
                            <button class="btn btn-lg btn-primary text-uppercase btn-block" (click)="addQuiz()">Add Quiz </button>

                        </div>





                    </div>
                </div>




                <div formArrayName="questions" *ngFor="let quectionsdesign of quizForm.get('questions')['controls']; let i = index;">

                    <div [formGroupName]="i">
                        <div class="card card-signin my-5 shadow">
                            <div class="card-body qdesc ">


                                <div class="card-body q1">
                                    <img class="img-fluid mx-auto d-block " src="../assets/logo.svg">
                                    <h4 class="card-title text-center mt-3 ">Question {{i+1}}</h4>
                                    <div class="form-group">


                                        <input formControlName="question" [id]="'question'+i" type="text" placeholder="Question" class="form-control">

                                    </div>

                                    <div class="d-flex justify-content-center">

                                        <div class="text-center">

                                            <div class="form-check form-check-inline">
                                                <input formControlName="type" class="form-check-input" type="radio" value="Multiple">
                                                <label class="form-check-label" [attr.for]="type2 ">Multiple</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input formControlName="type" class="form-check-input" type="radio" value="Likert Scale">
                                                <label class="form-check-label" for="type1">Likert Scale</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row ">

                                        <div class="col-8 ">
                                            <h4 class="card-title mt-3 ">Answer</h4>
                                        </div>
                                        <div class="col ">
                                            <h4 class="card-title mt-3 ">Correct</h4>

                                        </div>

                                    </div>
                                    <div formArrayName="options">

                                        <div [formGroupName]="0">
                                            <div class="form-row ">
                                                <div class="col-8 ">

                                                    <input type="text" formControlName="value" class="form-control" placeholder="Answer" />


                                                </div>
                                                <div class="col">
                                                    <div class="form-check">
                                                        <input formControlName="isCorrect" class="form-check-input" type="checkbox" value="enabled" ng-init="checked=false ">
                                                        <button class="plusbtn "><i class="fa fa-minus text-lg-center text-primary plusfont"></i></button>

                                                    </div>


                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-center mt-3">
                                        <button class="plusbtn" (click)="addAnswerbtn()"><i class="fa fa-plus text-lg-center text-primary plusfont"></i></button>

                                    </div>






                                    <div class="d-flex justify-content-center mt-3 ">
                                        <button class="btn btn-primary btn-block " (click)="addQuestionbtn()">Add Question </button>
                                        <button class="plusbtn" *ngIf="i>0" (click)="removeQuestionbtn(i)"><i class="fa fa-minus text-lg-center text-primary plusfont "></i> </button>
                                    </div>








                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>