<app-header></app-header>
<div ng-controller="checkController" class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <div class="card card-signin my-5 shadow">
                <div class="card-body qdesc" id="qinfo">
                    <img class="img-fluid mx-auto d-block" src="../assets/logo.svg">
                    <h4 class="card-title text-center mt-3">Quiz Title </h4>
                    <p class="text-muted"> </p>
                    <form #CreateQuiz1="ngForm" #f="ngForm">
                        <div class="form-group">
                            <input [(ngModel)]="title" name="title" type="text" placeholder="Name" class="form-control" required>
                            <div class="invalid-feedback">
                                <p>Quiz Name is required</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <h4 class="card-title text-center mt-3">Quiz Description </h4>
                            <textarea [(ngModel)]="description" name="description" placeholder="Description" rows="3" class="form-control" required></textarea>
                            <div class="invalid-feedback">
                                <p>Description is required</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
                            <button [hidden]="buttonHide" class="btn btn-lg btn-primary text-uppercase btn-block" (click)="addQuiz()">Add Quiz
                            </button>
                            <!-- <button (click)="test()">test</button> -->
                            <button [disabled]="buttonActive" style="    border-color: rgb(109 117 141 / 0%);
                            color: #ffffff00;">
                            </button>
                        </div>
                    </form>
                </div>
            </div>


            <app-one-quetion [ngClass]="{'hideShow' : buttonActive}" *ngFor="let oneQuetion of queArr; let i=index" [i]="i" [queArr]="queArr" (countChanged)="countChangedHandler($event)"></app-one-quetion>


            <div class="d-flex justify-content-center mt-3">
                <button [ngClass]="{'hideShow' : buttonActive}" (click)="addQuetionInput()" class="btn btn-primary btn-block">Add Question</button  >
            </div>

            <div class="card card-signin my-5 shadow">
                <div class="card-body qdesc">

                    <h4 class="card-title text-center mt-3">Questions</h4>

                    <table class="table table-bordered" style=" border: 1px solid #f36f2d;">
                        <thead class="bg-primary text-light">
                            <tr>
                                <th scope="col">Question</th>
                                <th scope="col ">Type</th>
                                <th scope="col ">Edit</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of allData.content">

                                <td>{{item.question}}</td>
                                <td>{{item.type}}</td>
                                <td>
                                    <a class="btn btn-primary btn-block" href="NewQuiz/#Quection 1">Edit</a></td>
                            </tr>

                        </tbody>
                    </table>

                
 <div class="form-group text-md-center">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="isDemographicSelected" [(ngModel)]="isDemographic"  (change)="onisDemographicSelectedChanged(isDemographic)" >
                            <label class="form-check-label" for="isDemographicSelected">Ask For Demograghic?</label>
                        </div>
                        <!-- <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <label class="form-check-label" for="inlineCheckbox2">Generic Link</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                            <label class="form-check-label" for="inlineCheckbox3">Unique Link</label>
                        </div> -->
                    </div>
                    <div class="row mt-4">
                        <div class="col-sm-6 col-md-6 col-lg-6 ">
                            <button class="btn btn-block btn-primary" (click)="SaveQuestion()">Save </button>
                <!-- <button class="btn btn-block btn-primary" (click)="test()">empty test </button> -->
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">


                <button [disabled]="publishActive" class="btn btn-block btn-primary" (click)="PublishQuiz()">Publish </button>
            </div>

        </div>
        <div *ngFor="let alert of alerts" class="block m-3">
            <ngb-alert [type]="alert.type" (close)="close(alert)">{{alert.message}}</ngb-alert>
        </div>

    </div>



</div>